/* import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    /* Font size set to 62.5% for 1rem = 10px */
    font-size: 62.5%;

    /* font family imported from google fonts */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background: url(..//images/blue-white.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}

footer {
    background-color: rgba(0,0,52,255);
    display: flex;
    justify-content: center;

    margin-top: 20rem;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 5rem;

}

h1, h3 {
    margin-bottom: 2rem;
}

i {
    font-size: 1.6rem;
}


/* h1 and p style below is temporary to be able to style the whole page */
/* Font sizing taken from https://w3-lab.com/website-font-size-guidelines/ */
h1 {
    font-size: 4.8rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

p {
    font-size: 1.6rem;
}

h3 {
    font-size: 2.4rem;
}

/* Flex container styling */

.flex-container {
    width: 100%;
    height: 100%;

    margin-top: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    flex-direction: column;
}

#home-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,52,255);
    padding: 2rem;
    border-radius: 2rem;

    font-size: 2.4rem;
}

/* Button styling */

.btn {
    padding: 1.6rem;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
    border-radius: 10rem;
    
    color: rgba(0,0,52,255);
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;    
}

.btn:hover {
    background-color: rgba(0,0,52,255);
    color: #FFFFFF;
    border: solid #FFFFFF;
}

/* Modal styling taken from w3schools.com https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */ 

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0rem;
    width: auto;
    height: auto;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-right: 30%;
    margin-top: 10rem;
}

/* Modal Content */
.modal-content {
    background-color: rgba(0,0,52,255);
    margin: auto;
    padding: 2rem;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    width: 100%;
    font-size: 4rem;
  }

#green {
    color: green;
    font-size: 2rem;
}

.red {
    color: red;
    font-size: 2rem;
}

  /* The Close Button */
.close {
    color: red;
    display: flex;
    float: right;
    justify-content: center;
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: -1rem;
  }

  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


  

@media screen and (max-width: 700px){
    .website{
        margin-top: -8rem;
    }
       
    .quiz-container {
        width: 100%;
    }

    .submit-container {
        width: 100% !important;
    }

    

    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.6rem;
    }

    .btn {
        padding: 0.5rem;
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .modal {
        margin-right: 0rem;
    }

    #username {
        padding: 0.5rem;
        font-size: 1.6rem;
        margin-top: 1rem;
    }
}