/* import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* Font size set to 62.5% for 1rem = 10px */
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    border: none;
}

